body{


}

.heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    color:orange;
    font-size:23px;
  }
  .heading_div
  {
    float:none;
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
    padding:10px;                                   
  }
  .heading_div2
  {
    font-size: 18px ;
  }
  .result_para_tag
  {                                                                               
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }
  .result_para_tag span{
    white-space:pre-line;                                  
  }
  .copy_right_footer{
    bottom:0px;
    position:fixed;
    background-color:yellow;
    text-align: center;
    width:100%;
    line-height: 3;
  }
  canvas{
    border:5px dotted red;
    border-radius:20px;
    box-shadow:5px 5px 5px grey;
    margin-top:160px;
    margin-left:0%;    
  }
 